<h3>Musée du louvre</h3>
<img src="{{ asset('bundles/app/pictures/icone.jpg')}}" alt="logo musée du Louvre" width="300"/>

<p>Bonjour cher (chère) client (e), </p>

<p>vous avez commandé {{booking.nbTicket}} sur notre site web.</p>
<p>En voici la liste :</p>

{% for key,ticket in booking.tickets %}
<tr>
    <td>

        <p>Une entrée à la {{ booking.dayLongLabel }} à {{ ticket.discountLabel }}
            pour le <strong>{{ booking.bookingDate| localizeddate('full','none') }}</strong></p>
        <p>Prix :<strong>
                {% if (ticket.computePrice>0) %}
                    {{ ticket.computePrice }} €
                {% else %}gratuit
                {% endif %}
            </strong></p>
        <p>Ticket N°: <strong>{{ ticket.ticketCode }}</strong></p>
        <p>visiteur: <strong>{{ ticket.lastName|upper }}  {{ ticket.firstName|title }}</strong></p>
        <p>né(e) le :{{ ticket.birthDate|localizeddate('long','none') }}</p>
        <p>Pays: {{ ticket.country }}</p>
        {#affichage de la mention losqu'il y a lieu#}
        {% if(ticket.discount) %}
            <p class="notice"><strong>Vous devrez présenter les justificatifs ouvrant droit au tarif
                    réduit lors de votre visite</strong></p>
        {% endif %}
    </td>
</tr>

{% endfor %}
<br/>

<p>Nous vous remercions de votre commande et vous souhaitons une agréable visite.</p>
<p>Le musée du Louvre. </p>
<footer>
    <p>Musée du Louvre © {{ 'now'|date('Y') }}
        <a href="#">CGU</a>
        <a href="#">CGV</a>
    </p>
</footer>
