{% extends "::layout.html.twig" %}
{% block body %}
    {% if listTickets|length > 0 %}
        <div>
            <h3>résumé de votre commande</h3>
            <hr/>
            {% for ticket in listTickets %}
                <p>Une entrée à la {{ bookingTicket.dayLong }} à {{ ticket.discount }}</p>
                <p>Prix :<strong>{{ ticket.price }}</strong></p>
                <p>Ticket N°: nombre</p>
                <p>nom: {{ ticket.lastName }} prénom: {{ ticket.firstName }}</p>
                <p>né(e) le :{{ ticket.birthDate }}</p>
                <p>Pays: {{ ticket.country }}</p>
                <hr/>
            {% endfor %}

        </div>
    {% endif %}
{% endblock %}