{% if listTickets|length > 0 %}
<div>
    <p>résumé de votre commande</p>
    <hr/>
    {% for ticket in listTickets %}
    <p>Une entrée à la {{//bookingTicket.dayLong=>journée/demi}} à {{ //ticket.discount=>plein/demi-tarif si demi: mention }}</p>
    <p>Prix :<strong>{{ ticket.price }}</strong></p>
    <p>Ticket N°: nombre</p>
    <p>nom: {{ ticket.lastName }}  prénom: {{ ticket.firstName }}</p>
    <p>né(e) le :{{ ticket.birthDate }}</p>
    <p>Pays: {{ ticket.country }}</p>
    <hr/>
    {% endfor %}

</div>
{% endif %}